@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.autosize-input input {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  padding-left: 0.5rem;
  padding-right: 0;
  border: none;
  &:focus {
    box-shadow: unset;
  }
}

.react-multi-carousel-dot-list  {
  bottom: 2px !important;
}