@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker__navigation {
  top: 10px !important;
}

.autosize-input input {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  padding-left: 0.5rem;
  padding-right: 0;
  border: none;
  &:focus {
    box-shadow: unset;
  }
}

.react-multi-carousel-dot-list {
  bottom: 2px !important;
}

.category-date-picker {
  .react-datepicker__navigation {
    top: 13px !important;
  }

  .react-datepicker__month-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 100%;

    .react-datepicker__header {
      padding: 0.5rem 0;
      font-size: 1.25rem;
    }

    .react-datepicker__month {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;

      .react-datepicker__month-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;

        .react-datepicker__month-text {
          font-size: 1.5rem;
        }
      }
    }
  }
}
